/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --color-header-title: #DB00FF;
  background-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --background-color: #FF0070;
  --paragraph-text-color: #FF0070;
  --lesser-paragraph-text-color: #000028;
  --active-button: #FF0070;
  --recorder-visibility: visible;
  --button-hover: #353430;
  --corner-color: #FF0070;
  --page-background-color: #000028;
  --text-shadow: 4px 4px 0px #FF0070;
}

@media (prefers-color-scheme: dark) {
  .page {
    --color-header-title: #DB00FF;
    background-image: url(../images/cover-image-dark.png);
    --text-color: #F1B2CE;
    --background-color: #FF0070;
    --paragraph-text-color: #FF0070;
    --lesser-paragraph-text-color: #000028;
    --active-button: #FF0070;
    --recorder-visibility: visible;
    --button-hover: #353430;
    --corner-color: #FF0070;
    --page-background-color: #000028;
  }
}


@media (max-width: 768px) {
  .page {
    --text-shadow: 4px 4px 0px #FF0070;
  }
}