/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --color-header-title: #ffc2e6;
  background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --background-color: #ff8dcb;
  --paragraph-text-color: #353430;
  --lesser-paragraph-text-color: #353430;
  --focus-button: #FF0070;
  --button-hover: #353430;
  --link-focus: #F1B2CE;
  --active-button: #000028;
  --recorder-visibility: none;
  --corner-color: #353430;
  --page-background-color: #fff1f7;
  --text-shadow: 4px 4px 0px #ff0070;
}

@media (prefers-color-scheme: light) {
  .page {
    --color-header-title: #ffc2e6;
    background-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --background-color: #ff8dcb;
    --link-focus: #F1B2CE;
    --focus-button: #FF0070;
    --paragraph-text-color: #353430;
    --lesser-paragraph-text-color: #353430;
    --button-hover: #353430;
    --active-button: #000028;
    --recorder-visibility: none;
    --corner-color: #353430;
    --page-background-color: #fff1f7;
    --text-shadow: 4px 4px 0px #ff0070;
  }
}

@media (width <= 1023px) {
  .page.theme_light {
    --text-shadow: 4px 4px 0px #ff8dcb;
  }
}

@media (prefers-color-scheme: light) and (width <= 1023px) {
  .page {
    --text-shadow: 4px 4px 0px #ff8dcb;
  }
}
