/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --color-header-title: #FFC2E6;
  --background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --background-color: #ff8dcb;
  --paragraph-text-color: #353430;
  --lesser-paragraph-text-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.40);
  --active-button: #000028;
  --button-hover-light: none;
  --recorder-visibility: none; 
  --corner-color: #353430;
}

@media (not (prefers-color-scheme: dark)) {
  .page {
    --color-header-title: #FFC2E6;
    --background-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --background-color: #ff8dcb;
    --paragraph-text-color: #353430;
    --lesser-paragraph-text-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.40);
    --active-button: #000028;
    --button-hover-light: none;
    --recorder-visibility: none; 
    --corner-color: #353430;
  }
}