/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-width: 1024px;
  background-color: #000028;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image, url(../images/cover-image-light.png));
  color: var(--text-color, #353430);

}


.header {
  height: 100vh;
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: start;
}

.header__theme-menu-button {
  text-align: center;
  border: none;
  padding: 3px 14px;
  color: var(--paragraph-text-color, #353430);
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu {
}

.header__title {
  align-self: center;
  color: var(--color-header-title, #FFC2E6);
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  text-shadow: 4px 4px 0px #FF0070;
  font-family: IBM Plex Mono;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  /* 129.525px */
  margin-left: -20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__text {
  color: #353430;
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  width: 50%;
  margin-left: 50%;
  margin-top: 6%;
  /* 130% */
  background-color: var(--background-color, #ff8dcb);
  height: fit-content;
}

.section-concentrate {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 0%;
  margin-top: 60px;
  gap: 10px;
}

.main {
  margin: 0 20px;
}


.text {
  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  ;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
  margin-top: 10px;

}


.section-concentrate__dopamine {
  grid-column-start: 2;
  margin-top: 5px;
}

.section-reduced {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 2fr;
  gap: 20px;
  margin-top: 80px;
}

.section-reduced__title {
  grid-column: 1;
  grid-row: 1;
}

.section-recommendations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 80px;
}

.section-recommendations__title {
  grid-column-start: 1;
  grid-column-end: 2;
}

.section-recommendations__list-wrapper {
  grid-column-start: 2;
  grid-column-end: 4;
}

.section-reduced__multitasking {
  grid-row: 2;
}

.section-reduced__food {
  grid-row: 2;
}

.section-reduced__gadgets {
  grid-row: 2;
}

.paragraph_property {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
  color: var(--lesser-paragraph-text-color, #353430);
  background-color: var(--background-color, #ff8dcb);

}

.title__paragraph_property {
  font-family: IBM Plex Mono;
  color: var(--paragraph-text-color, #353430);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

.paragraph_property__lighter-weight {
  color: var(--lesser-paragraph-text-color, #353430);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
  background-color: var(--background-color, #ff8dcb);
  margin-bottom: 10px;
  margin-top: 20px;
}

.decorated-zone::before {
  content: "";
  border-top: 1px solid var(--corner-color, #353430);
  border-right: 1px solid  var(--corner-color, #353430);
  width: 25px;
  height: 25px;
  display: block;

  position: absolute;
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  content: "";
  border-left: 1px solid var(--corner-color, #353430);
  border-bottom: 1px solid var(--corner-color, #353430);
  width: 25px;
  height: 25px;
  display: block;

  position: absolute;
  bottom: 20px;
  left: 20px;
}

.decorated-zone__footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.decorated-zone__footer::before {
  content: "";
  border-top: 1px solid var(--corner-color, #353430);
  border-right: 1px solid var(--corner-color, #353430);
  width: 25px;
  height: 25px;
  display: block;

  position: absolute;
  top: 20px;
  right: 20px;
}

.decorated-zone__footer::after {
  content: "";
  border-left: 1px solid var(--corner-color, #353430);
  border-bottom: 1px solid var(--corner-color, #353430);
  width: 25px;
  height: 25px;
  display: block;

  position: absolute;
  bottom: 20px;
  left: 20px;
}


.section-recommendations-pictures {
  margin-top: 80px;
}

.section-recommendations__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100%;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.sunset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.ice-cream {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.tape {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
}

.street {
  grid-column-start: 2;
  grid-column-end: 4;
}

.books {

}

img {
  width: 100%;
  object-fit: cover;
  min-height: 100%;
}

.footer__title {
  text-align: center;
  color: var(--color-header-title, #FFC2E6);
  text-shadow: 2px 2px 0px #FF0070;
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  /* 129.525px */


}

.link {
  text-shadow: 2px 2px var(--background-color, #ff8dcb);
  text-decoration: none;
}

.link:hover {
  text-decoration-color: var(--text-color, #353430);
  border-bottom: 1px solid;
}

.link:focus {
  outline: 1px solid var(--text-color, #353430);
  outline-offset: 0.3px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover, #FF0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--active-button, #000028)
}

.header__theme-menu-button_active:hover {
  outline: none;
}

.recorder {
  position: absolute;
  top: 20px;
  right: 20px;
}

.recorder::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  background-color: #FF0070;
  box-shadow: 0 0 4px 2px #FF0070;
  display: var(--recorder-visibility, none);
}

.recorder::after {
  content: "REC";
  position: absolute;
  
  top: 0;
  right: 28px;
  color: #FF0070;

  font-family: var(--font-family, 'Arial', 'Helvetica', 'monospace', sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;

  display: var(--recorder-visibility, none);
}